<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="d-flex align-items-center">
              <h2>マンガのレビューを編集する</h2>
            </div>
            <!-- レビューの編集画面を表示 -->
            <%= form_for @impression, url: comic_impression_path(@comic, @impression) do |f| %>
            <%= render 'form', i: f %>
            <% end %>
        </div>
    </div>
</div>