<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="d-flex align-items-center">
              <h2>マンガのレビューを投稿する</h2><!--レビュー対象のタイトルが表示されるようにできればする>
            <!--作品一覧に戻るボタンをここに追加-->
            </div>
            <!-- レビューの編集画面を表示 -->
            <%= form_for @impression, url: comic_impressions_path(@comic) do |f| %>
            <%= render 'form', i: f %>
            <% end %>
        </div>
    </div>
</div>