<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>ユーザー一覧</h2>

    <table class="table">
      <thead>
        <tr>
          <th>ユーザーID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|%>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, admins_user_path(user) %></td>
            <td><%= user.email %></td>
            <td><%= user.is_status %></td>
          </tr>
        <% end %>
        <!-- kaminariでページネーションを追加 -->
      </tbody>
    </table>

  </div>
</div>