<div class="container">
	<div class="row">

		<div class="col-xs-10">
			<h2>人気ランキング</h2>
			<%= render 'comics/rank',comic: @comic %>
		</div>

		<div class="col-xs-10">
		    <h2>最近投稿されたレビュー</h2>

		</div>
	</div>
</div>