<div class="container">
	<div class="row">
		<div class="col-xs-11">
			<div class="top-rank-border">
				<h2><b>人気ランキング</b></h2>
				<%= render 'comics/rank',comic: @comic %>
			</div>
		</div>
	</div>

	<div class="top-recintly-border">
		<div class="row">
			<div class="col-xs-11">
			    <h2><b>最近投稿されたレビュー</b></h2>
			    	<%= render 'impressions/recently_impression',i: @impressions %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-11">
		    <h3><b>登録されているタグから探す</b></h3>
		    	<div class="top-taglist-border">
				<!-- タグ一覧 -->
				<h4><b>タグ一覧</b></h4>
				<% @tag_list.each do |list| %>
					<div class="label label-default">
						<%= link_to list.tag_name, tag_comics_path(tag_id: list.id),class: "taglink" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>

</div>