<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<h3>管理者TOPページ</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10">
			<h2>本日の追加タイトル数
			<%= link_to admins_comics_path do %>
			<%= @comics.count %><% end %>件</h2>
		</div>
	</div>
</div>