// Place all the styles related to the Comic_impressions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.impression-box {
  width: 600px;
  height: 500px;
  margin: 50px auto 0;
  border-radius: 5px;
  border: 2px #ddd solid;
}

.impression-box-inner {
  padding: 20px 25px;
}

.recently-box {
  display: inline-flex;
  width: 350px;
  height: 300px;
  margin: 10px 10px auto 0;
  border-radius: 5px;
  border: 2px #ddd solid;
}

.recently-box-inner {
  padding: 20px 25px;
}

.impression-index-box{
  width: 950px;
  height: 200px;
  margin: 10px 10px auto 0;
  border-radius: 5px;
  border: 2px #ddd solid;
}

.impression-index-box-inner{
  padding: 20px 25px;
}

