<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
    	<h2 class="col-md-6">マンガタイトル一覧</h2>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>タイトルID</th>
          <th>マンガのタイトル</th>
       　　<th>作品詳細</th>
        </tr>
      </thead>
      <tbody>
    	 <% @comics.each do |comic| %>
    	 <tr>
    	 	<td><%= comic.id %></td>
        <td><%= comic.title %></td>
    	 	<td><%= link_to '作品情報とレビューへ移動', admins_comic_path(comic), class: 'btn btn-info btn-block' %></td>
    	 </tr>
    	 <% end %>
      </tbody>
    </table>

  </div>
</div>